
@font-face {
  font-family: 'GEN';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/e88bb9e481c7c72a3d17500f643b63ad94ff3ac8/GenSenMaruGothicTW-Light-TTF.JP.woff2) format('woff2');
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/fb065cf2a0a0837fbcb4ad86ff5bfbf4cb7fee14/GenSenMaruGothicTW-Light-EN.woff2) format('woff2');
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/02eb8cad1bdd2a7a2729e1dcaa29470a52f3a446/GenSenMaruGothicTW-Light23MAR.woff2) format('woff2');
}
