@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: 'GEN';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/90f09adc703c39df7faff68310ddbd16033f67b0/GenSenMaruGothicTW-Light-TTF.09MAY.woff2) format('woff2');
    unicode-range: U+2000-206F, U+2100-214F, U+2E80-2EFF, U+3000-303F, U+3400-4D8F, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}

@font-face {
  font-family: 'IBMFlex';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/4e65605cac2b0d1d2b1da4fb3a5c46d76435769c/IBMPlexSerif-Light.woff2) format('woff2');
    unicode-range: U+00-2B11, U+EBE7-FB02;
}

@font-face {
  font-family: 'FZYOUH_504L-JP';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/65a047c96d5f3b3058ef063d5f9edcc544db6d2e/FZYOUH_504L-JP.woff2) format('woff2');
    unicode-range: U+3005-30FF, U+3105-32A3;
}

@font-face {
    font-family: 'Glyphicons_Halflings';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/ed3c3366cca3551eeaa45304210962aa1b2990db/glyphicons-halflings-regular.woff2) format('woff2');
}

div, object, a, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, p, blockquote, address, del, dfn, strong, em, img, q, samp, b, small, sub, sup, var, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, figcaption, figsource, header, footer, hgroup, menu, nav, section, mark, select, input, iframe, main, form, script, noscript, time, summary, canvas, details, pre, div>h2, h2>strong, div>h3, div>h4, .article__title.article__title--single, figcaption.wp-caption-text, .entry-title, .Caption, textarea, button

{
    font-family: 'FZYOUH_504L-JP', 'IBMFlex', 'GEN', 'FontAwesome'  !important;
    letter-spacing: 0.05em !important;
    font-size-adjust: 0.58 !important;
}

.glyphicon {position:relative;top:1px;display:inline-block;font-family:'Glyphicons_Halflings'!important;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.fa {font-family:'FontAwesome'!important;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

*, p, header {word-break: break-word !important}
