
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');





:where(div,a,aside,header,h1,h2,h3,h4,h5,h6,hr,li,label,smal l,p,button,select,ol,ul,dl,dt,dd,object,blockquote,address,del,dfn,data,datalist,strong,em,embed,q,samp,base,sub,sup,var,video,wbr,font,fieldset,link,map,form,ins,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,figcaption,figsource,track,template,source,sub,strike,style,footer,hgroup,menu,nav,section,meta,meter,mark,input,iframe,main,form,script,noscript,time,summary,optgroup,option,output,canvas,param,picture,progress,rp,rt,app-root,mb-hub,mb-navigation-bar,router-outlet,mb-hub-summary,mb-modal,mb-header,mb-main,mb-footer,ruby,col,colgroup,details,pre,kbd,abbr,b,br,bdi,bdo,textarea,cite,span,ytd-app *):not(.fa,.fas,.far,.fal,.fad,.fab,.docon,[class*="fa-"],[class*="icon"],[class*="Icon"],[class*="icomoon"],[class*="logo"],[class*="cart"],[class*="arrow"],[class*="ico-"],i,svg,path,img,.glyphicon,.ico,.ji,.checkmark,.DPvwYc,#app-body #screen-root *,.google-symbols,/*texteditor,Google_fonts*/:where(#centeredBodyContent,gf-root,flt-glass-pane) *),
/*---CATHY---*/:is(#spa-root,#pageAWAI,app-root,.cx-skin,#change-flights-page) *:not([class*="icon"],[class*="icomoon"]) {
    
	font-family:  'CathaySans_Lt', 'STXihei-Light', 'IBM Plex Sans KR', 'Noto Sans TC' !important;
	letter-spacing: 0.05em !important;
	font-size-adjust: 0.58 !important

}

:is(html:is([lang="en"],[lang*="en-US"],[lang*="en-GB"],[lang*="en-int"],[lang*="fr"],[lang*="de"],[lang*="it"],[data-locale="US"],[data-locale="GB"]),#page-top/*ctjobs*/,[lang="en-HK"].hydrated/*iherb*/) *:not(.fa,.fas,.far,.fal,.fad,.fab,.docon,[class*="fa-"],[class*="icon"],[class*="Icon"],[class*="icomoon"],[class*="logo"],[class*="cart"],[class*="arrow"],[class*="ico-"],i,svg,path,img,.glyphicon,.ico,.ji,.checkmark,.DPvwYc,#app-body #screen-root *,.google-symbols,
:is(.aAX/*gmail*/,[data-base-title="Google Calendar"],#drive_main_page,#drive_mobile_main_page/*gdrive*/,gf-root/*google_fonts*/,#facebook,ytd-app/*yt*/,.notes-container,#ognwrapper,[class*="VIpgJd"]/*google_notes*/,#onecup/*pushbullet*/,#app ._1Fm4m/*whatsapp*/,#centeredBodyContent/*texteditor*/,#yDmH0d/*google_img*/,.layout--boxed/*Weekendhk*/,#spa-root,#pageAWAI,app-root,.cx-skin,#change-flights-page/*---CATHY---*/,#root [class*="M_"][style],#root [class*="D_"][style]/*Carousell*/,div.iw_viewport-wrapper/*AA*/,.hfeed.site/*jobsdb*/,.cpj-wrapper/*cpjobs*/,.fHlwaI/*hsbc*/,.css-5305ft/*pocket*/,[data-val="https://new.hongkongairlines.com/hxair/"]/*HKairlines*/,#wrap :is(#jre_multi_header,#contents,#topicPath)/*JRE*/,#page_section/*McDonald*/,#__next/*pocket*/,#feedlyChrome/*feedly*/) *) {
    
	font-family:  'IBM Plex Serif',  'Noto Serif HK', 'Noto Serif KR' !important;
	letter-spacing: 0.05em !important;
	font-size-adjust: 0.58 !important

}

:is(html[lang*="ja"],#__) *:not(.fa,.fas,.far,.fal,.fad,.fab,[class*="fa-"],[class*="icon"],[class*="Icon"],[class*="icomoon"],[class*="logo"],[class*="cart"],[class*="arrow"],[class*="ico-"],i,svg,path,img,.glyphicon,.ico,.ji,.checkmark,.DPvwYc,#app-body #screen-root *,.google-symbols) {
    
	font-family:  'IBM Plex Sans JP', 'STXihei-Light', 'IBM Plex Sans KR' !important;
	letter-spacing: 0.05em !important;
	font-size-adjust: 0.58 !important

}


/*@media (pointer:coarse) {
    
:is(html:is([lang*="TW"],lang*="CN"],[lang*="han"],[lang="ko"]),#bkg_wrapper/*mingpao*/,#__next .o4febr-0/*hk01*/,#nv_CURSCRIPT,#grid_content/*Menclub*/,.news .main .article-area/*nytimes*/,.stretched.device-xs,.dialog-off-canvas-main-canvas/*sportsoho*/,.main-site-outer/*Betterme*/,#article.content-all/*NationalGeo*/,/*etnet*/#Container :is(.DataSheetStyleA,#SectionSelect,#IndexesBar,#QuoteA),#main-content-wrapper,nav#menu,.ui-content[role="main"]:not([lang*="ja"] *)/*fanpiece*/,.site-pusher/*ufood*/,#td-outer-wrap/*fitz*/) *:not(.fa,.fas,.far,.fal,.fad,.fab,[class*="fa-"],[class*="icon"],[class*="Icon"],[class*="icomoon"],[class*="logo"],[class*="cart"],[class*="arrow"],[class*="ico-"],i,svg,path,img,.glyphicon,.ico,.ji,.checkmark,.DPvwYc,#app-body #screen-root *,.google-symbols,
/*---GROUP---*/:is(.bookings2,.my-settings-outer-container/*booking.com*/,[class*="agoda"]/*agoda*/,.mBody/*28hse*/,font/*funbid*/,.site-container, .site-pusher/*u-magazine*/) *) {
    
	font-family: 'IBM Plex Serif', Serif, 'Noto Serif HK'  !important;
	letter-spacing: 0.05em !important;
	font-size-adjust: 0.58 !important

}


}

*/



@font-face {
	font-family: 'GenSenMaruGothicTW-Light';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/425066cd1e3c20623619856b8b2810f204367e4c/GenSenMaruGothicTW-Light-07OCT21.woff2) format('woff2');
    unicode-range: U+2000-206F,U+2100-214F,U+2E80-2EFF,U+3000-303F,U+3400-4D8F,U+4E00-9FFF,U+F900-FAFF,U+FF00-FFEF;
}

@font-face {
	font-family: 'STXihei-Light';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/392074a0afc9b741233f2597084eadcbfbdc7163/STXihei-Light.woff2) format('woff2');
	unicode-range: U+3005-30FF,U+3105-32A3,U+2000-206F,U+2100-214F,U+2E80-2EFF,U+3000-303F,U+3400-4D8F,U+4E00-9FFF,U+F900-FAFF,U+FF00-FFEF;
    
}

@font-face {
	font-family: 'PingFangSCRegular.EN';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/8e9a7bf1a446333b8de3cbfec422046d4e7b8fbd/PingFangSCRegular.woff2) format('woff2');
    unicode-range: U+00-2B11,U+EBE7-FB02;
}

@font-face {
	font-family: 'CathaySans_Lt';
    src: url(https://rawcdn.githack.com/auterrykp/Fonts/e321a95fb49e932beb9afdb6b7870a75e99323a6/CathaySans_Lt.woff2) format('woff2');
    unicode-range: U+00-2B11,U+EBE7-FB02;
}


/*

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css");




:is(html,div,a,header,h1,h2,h3,h4,h5,h6,li,label,small,p,button,select,ol,ul,dl,dt,dd,object,blockquote,address,del,dfn,strong,em,q,samp,sub,sup,var,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,figcaption,figsource,footer,hgroup,menu,nav,section,mark,track,input,iframe,main,form,script,noscript,time,summary,canvas,details,pre):not(:is([lang*="en-US"],[lang*="en-GB"],[lang*="en-int"],[lang*="ja"],[lang="fr"],[lang="de"]) *,[class="fa"],[class="fas"],[class*="icon"],[class*="Icon"],[class*="icomoon"],i,.glyphicon,.nGJqzd,.fsc-ChatButton,.html-face,.elementor-star-rating,.VrDepf,.slick-arrow,[class*="wpr"],.anchor-link,.f0UV3d,.vjs-control,.vjs-big-play-button,.icomoon-cross2,.btn-link,.site-nav-toggle,.sub-nav-toggle,.desktop_dropbtn,.fa,.office-form-question-rating-shape,#contentContainer span,div#app-container span,:is(#centeredBodyContent/*texteditor*/,gf-root) *),
span:is([class*="mod-reference"],.redibe-facadeV3-action-amount,.h-currency.h-cny,[class="price"],.font-ur,.city-name,.book-btn-search,.title-city-text,.comment-copy,.tptn_title,.xn-person,.swynOZZ8,#Verticals,.alt,.article-author__location,.font-en,#o-airport-code,.gm2-subtitle-alt-2,.gm2-button-alt,.gm2-body-2,.meta-info-item,.yt-formatted-string):not(#centeredBodyContent */*texteditor*/,[class="fa"],[class="fas"],[class*="icon"],[class*="Icon"],[class*="icomoon"],i,.glyphicon),
yt-formatted-string,div>h2,h2>strong,div>h3,div>h4,.article__title.article__title--single,figcaption.wp-caption-text,.entry-title,.Caption,textarea,div.book-dates.box-item span,li.icoOtona>span,.meta-date>span,.meta-category>a,.post-content.entry-content.cf>p>span[style],.breadcrumbs *,twitter-widget *,#bubble-content *,#react-root[style] span,#app .css-1dbjc4n *,#react-root *,g.text_tick>text,g.tick>text,#middle g text,.breadcrumb_last,mer-text,.colLeft.resLeftContent span,#pressrelease,.postmessage.defaultpost span,#application.clearfix span,.hase-gt-container span,#video-title,#tw-source-text-container .tw-ta,#tw-main span,.experience-container span,.connections-container span,.product-detail-wrap span,#content-text.ytd-comment-renderer span,#wrap tspan,.mfMhoc,#featured-section span,.rect-link-btn__label,#message-thread-list span,.col-xs-24.title span,.recommended-products span.title,.product-title bdi,.ytd-comment-renderer,.non-member-referral div,.e16pl8n50,.container .panel span,#Footer .container span[style],div.D_iz span,.p-cont_in span,#productAll span,div#pagebody span,.purchaseHistoryItems span,.MuiTypography-root,#wrap_in,.button--3SNaj

,#feed-container span




/*---CATHY---*/:is(#spa-root,#pageAWAI,app-root,.cx-skin,#change-flights-page) *:not([class*="icon"],[class*="Icon"],i,svg,path,img)

*/